{% extends "base.html" %}

{% block title %}Create Note{% endblock title %}

{% block body %}
   <div class="container">
      <form method = 'POST'>
         {% csrf_token %}
         <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name = "title" aria-describedby="emailHelp">
         </div>
         <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name = "content"></textarea>
            <label for="floatingTextarea">Content</label>
         </div>

         
         <button type="submit" class="btn btn-primary">Create</button>
      </form>
   </div>
{% endblock body %}
