{% extends "base.html" %}

{% block title %}
Edit Page
{% endblock title %}

{% block body %}
   <div class="container">
      <form method = 'POST'>
         {% csrf_token %}
         <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name = "title" value={{note.title}}>
         </div>
         <div class="form-floating">
            <textarea class="form-control" id="floatingTextarea" name = "content">{{note.content}}</textarea>
            <label for="floatingTextarea">Content</label>
         </div>

         
         <button type="submit" class="btn btn-primary">Edit</button>
      </form>
   </div>
{% endblock body %}