{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock title %}


{% block body %}
<h1>{{heading}}</h1>
<p>{{para}}</p>

<table class="table">
   <thead>
      <tr>
         <th scope="col">#</th>
         <th scope="col">Name</th>
         <th scope="col">Age</th>
         <th scope="col">Phone</th>
      </tr>
   </thead>
   <tbody>
      {% for person in people %}  
      <!-- person = {"name": "Alice Johnson","age": 28,"phone": "+1-555-0147"} -->
         <tr>
            <th scope="row">1</th>
            <td>{{person.name}}</td>
            <td>{{person.age}}</td>
            <td>{{person.phone}}</td>
         </tr>
      {% endfor %}

      
   </tbody>
</table>
{% endblock body %}



