{% extends "base.html" %}

{% block title %}
Notes
{% endblock title %}

{% block body %}
   <h3>Total note: {{total}}</h3>
   <table class="table">
      <thead>
         <tr>
            <th scope="col">S.no</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Created at</th>
         </tr>
      </thead>
      <tbody>
         {% for note in notes %}  
            <tr>
               <th scope="row">{{forloop.counter}}</th>
               {% comment %} <th scope="row">{{note.id}}</th> {% endcomment %}
               <td>{{note.title}}</td>
               <td>{{note.content}}</td>
               <td>{{note.created_at}}</td>
            </tr>
         {% endfor %}

         
      </tbody>
   </table>
{% endblock body %}